/*--------------------------FOR DESKTOP----------------------------*/






*{  /*applied to all the elements , so our page comes with default settings like we have a line marked under our text etc. so we don't want this so we do everything 0*/
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none; /*removing lines under text*/
    /* list-style: none; removing the bullets */
    box-sizing: border-box;/*so what happens is when we set box-sizing: border-box; then if we change our margin and padding then it will not effect our width and height otherwise if we dont apply this then we we do some change in margin and padding then our width,height will also change. So this property includes padding , border in an element's total width and height. */
}


html{  /*it is for so that if we click on Home then we reach to Home section of the page and if we click on Projects in navigation bar we should reach at Projects of the page etc*/
    scroll-behavior: smooth;  /*if there is any scrolling in html it should be smooth*/
  
}


:root {/*when we make our own variables then we want it to use anywhere so to use anywhere we apply :roor property so that any custom variable made inside becomes global. So what happens is if we want to change let say color of some buttons so what we do we just change the color here and wherever we have used the variable name there automatically color will be changed*/
    /*let us make our custom varibales , for example: -- is used to make custom variable, color-primary is the varibale name */

    --color-primary: #3285eb;
    --color-ghostwhite: #f8f8ff;
    --color-white: #fff;
    --color-black: #000;
    --color-light: rgba(255,255,255,0.7);
    --color-light1: rgba(240, 239, 239, 0.7);
    --color-light2: rgba(134, 133, 133, 0.7);
    --color-light3: rgba(147, 145, 145, 0.7);



    --transition: all 350ms ease; /*defining our custom transition property so here (all) means transition will be applied to all so whatever property we write anything like width,background color anything so here (all) includes all of them , then we have (ease) which is a transition property , all these transitions will be done in 400ms.*/


    --container-width-lg: 80%;  /*we set conatiner width for large devices*/
    --container-width-md: 90%;  /*for tablets*/
    --container-width-sm: 94%;  /*for small screens*/

    
}

body{ /*element selector*/
    font-family: 'Roboto Condensed', sans-serif;/*so we have taken font Montserrat from google fonts so we have linked them in html file*/
    
    line-height: 1.7;   
    color: var(--color-black);/*so we have defined our custom varibale --color-white in root so we can use that variable anywhere using (var) keyword*/
    background: var(--color-white);

    

    

}

.container{ /*grabbing container element*/
    width: var(--container-width-lg);
    margin: 0 auto; /*so that content comes in middle so the top bottom margin is 0 and left right margin is auto, so we do auto so that browser sets the margin auto based on the container to make the container centered */
}


section h2{ /*grabbing the h2 element*/
    text-align: center;
    margin-bottom: 4rem;
}

h1,h2,h3,h4,h5{
    line-height: 1.2;
}

h1{
    font-size: 2.4rem;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 4.6rem;
}
h4{
    font-size: 1.3rem;
}

a{
    color: var(--color-black); 

}


img{
    width: 100%;/*every image will have a width of 100% its parent width*/
    display: block;
    object-fit: cover; /*it i used to tell how an image or video resize to fits its container , the image will be clipped to fot the container*/
}

.btn{
    display:inline-block; /*it allows to set width and height of the element and does not adds a line break like display:block so here all elements are inline*/
    background: var(--color-white);
    color: var(--color-primary);
    padding: 5px 10px;
    border-radius: 8px;
    border: 1px solid transparent;
    font-weight: 500; /*it tells how thick or thin means how bold or light the text should appear*/
    border-color: var(--color-primary);
    /* transform: var(--transition); */
}

.btn:hover{ /*grabbing button having class btn , so here when we hoven on button*/
    background: transparent;
    background: var(--color-primary);
    color: var(--color-white);
    border-color: var(--color-white);
    transition: 0.6s; /*the transition will complete in 0.6s*/
    transform: rotate(5deg) /*it will rotate the button*/
}

.btn-primary{ /*grabbing button having class btn-primary*/
    background: var(--color-light);
    color: var(--color-primary);
}




/* we have used glow-on-hover class in html in sociallinks so when we hover on it then it gives us the glowing effect */
.glow-on-hover {
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    z-index: 0;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000, #acff8b);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);   
    width: calc(100% + 3px);  
    height: calc(100% + 3px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}


.glow-on-hover:hover:before {
    opacity: 1;
}


@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}






















/*--------------------------------Navbar---------------------------*/
nav{
    /* background: transparent; */
    width: 100vw; /*so we guve 100 viewport width so it will acquire the whole width no matter small screens or big screens it will take the whole width*/
    height: 5rem; /* height of 5*16px  */
    position: fixed; /*we do position fixed so that even if we scroll then also the navbar will remain stick*/
    top: 0; /*so we give from top:0 */
    z-index: 11; /*if you want to use z-index then position should be relative or absolute or fixed or sticky , so sometimes some elements comes over another element so the element having having higher value of z-index will come over another element having low z-index value.*/
    margin: 0 auto;
    
}

.window-scroll{ /*grabbing the class which we added in js file so when we scroll then this class is called and all the properties in this class are applied*/
    background: var(--color-white);
    box-shadow: 0 1rem 2rem rgba(0,0,0,0.2);/*box-shadow(offset-x,offset-y,blur-radius,color)*/
    

}

.nav__container{ /*grabbbing element having class nav__container*/
    height: 100%; /*we give height 100% of the parent*/
    display: flex; /*used for laying our items in rows and columns so that each element comes inside the container so we make container as flex*/
    justify-content: space-between; /*so if we want to have equal space between all the elements inside container then we apply this property*/
    align-items: center; /*so all the elements will come in y direction or from top bottom equal space will be there and elements will be at center*/
    /* margin-left:auto;
    margin-right:auto; */
    width: 63rem;
    list-style: none;
    
    
}

nav input{ /*so on desktop or large devices we don't want menu,cross button*/
    display: none; /*so we do its display none*/
}

.nav__menu{
    display: flex; /*so we do display flex for all the elements inside class nav__menu*/
    align-items: center;/*so all the elements will come in y direction or from top bottom equal space will be there and elements will be at center*/
    gap: 1.4rem; /*it will give the gap rows and columns means between the elements*/
    list-style: none;  /*as we don't want bullets*/
}

.nav__menu a{ /*all elements inside navbar inside a tag will be of this size*/
    font-size: 0.9rem;
    transition: var(--transition); /*so that when we hover this property should be applied , so by applying this when we hover then the hover property will not reflect immediately but the transition will take whole 400ms so it will look more appealing*/
    padding: 4px;
}

.nav__menu a:hover{ /*it will change color when we hover*/
    color: var(--color-black);
    background-color: rgba(255, 255, 255, 0.7);;
    box-shadow: 1px 1px 1.8px rgb(255, 255, 255);
    border-radius: 6px;
    color: var(--color-primary);
    
}

.sociallinks{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.sociallinks a img{
    width: 2rem;
    margin-left: 2px;
    margin-right: 2px;
    transition: var(--transition);      /*transition property*/
}
.sociallinks a img:hover{
    transform: translateY(-6px);        
}
























/*------------------------About me----------------------------*/
header{
    position: relative; /*so it means relative to its previous position*/
    /* top: 12rem; */
    top: 10rem;
    overflow: hidden; /*overflow property tells what to do if the content overflows the element's box, so we made it hidden means the overflow will be clipped at the ending */
    /* height: 99vh; */
    /* height: fit-content; */
    /* margin-bottom: 6rem; */
    display: flex;
    min-height: 100%;  /*so it will keep the width as it is when you resize the windoe*/
    min-width: 100%;    /*so it will keep the height as it is when you resize the window*/
   
}

.header__container{/*so we use grid to create layout of the header container*/
    display: grid;
    grid-template-columns: 1fr 1fr;/*so it is one of the property of grid so here it will divide the screen in two equal halves.*/
    align-items: center;
    gap: 0rem;
    /* height: 118vh; */
    /* height: 108vh; */
    margin-left:auto;
    margin-right:auto; 
    width: 76rem;
    /* min-width: 100%; */
    
}
.header__left{
    /* height: 100%; */
    min-height: 100%;
    min-width: 100%; 
    margin-left: 2rem;
}
.header__left p{
    margin: 1rem 0 0rem; /*setting margin from the top as 1rem , 0 from left and right and 2.4rem from the bottom*/
}
.header__left a{
    position: absolute;
}
.header__right{
    margin-left: 0rem;
    margin-bottom: 17rem;
    margin-right: 1rem;
}
.header__right p{
    text-align: center;
    color: rgb(119, 116, 116);
    margin-top: 5px;
}
.header__right h4{
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: 'Karla', sans-serif; 
    
}

.header__right img{
    
    height: 20%;
    width: 20%;
    display: flex;
    margin: auto;

    
}
.header__right .boxes{
    margin-top: 2rem;
    display: flex;
    margin-left: 2rem;
    /* min-width: 100%; */
    /* padding-left: 3rem; */
    /* gap: 2rem; */
}
.header__right .boxes .box1{
    margin-left: 4rem; 
    /* width: 15rem;
    /* min-width: 100%; */
}
.header__right .boxes .box1 ul{
    margin-left: 1rem;
    margin-top: 1rem;
}

.header__right .boxes .box2{
    margin-left: 6rem;
    width: 20rem;
    margin-right: 3rem;
}
.header__right .boxes .box2 ul{
    margin-left: 1rem;
    margin-top: 1rem;
}

header h2{
    font-family: 'Karla', sans-serif; 
}
header h4{
    font-size: 2rem;
}
header h5{
    color: rgb(119, 116, 116);
}










/*----------------------Work Experience----------------------------*/
.categories{
    background: var(--color-white);
    


    /* height: 77rem; */
    min-height: 100%;
    
    /* height: 79rem;    before the image */
    font-family: 'Karla', sans-serif;
    padding-top: 2rem;
    margin-bottom: 4rem;
    
}

.categories h1{
    line-height: 1;
    margin-bottom: 8rem;
    text-align: center;
    margin-top: 0px;

}

.categories__container{
    display: grid;
    /* grid-template-columns: 50% 50%;  */
    grid-template-columns: 1fr 1fr 1fr; 
    /* grid-template-columns: 1fr 1fr ; in case i want to make two columns then it divides the container in two halves where left half is 40% and right half id 60%*/
    gap: 3rem;
}

.categories__left{
    min-width: 100%;
    display: grid;    /*so when we resize the window then thre left and the right category will resize same to same */
}

.categories__right{
    display: grid;/*so when we resize the window then thre left and the right category will resize same to same */
    /* gap: -1rem; */
    min-width: 100%;
   
    
}
.categories__left .category a{
    color: var(--color-primary);
    font-weight: bold;
}
.categories__right .category a{
    color: var(--color-primary);
    font-weight: bold;
}

.categories__left .category .btn-primary{
    font-size: small;
    width: 70px;
    margin-top: 10px;
    margin-left: 1rem;
}
.categories__right .category .btn-primary{
    font-size: small;
    width: 70px;
    margin-top: 10px;
    margin-left: 1rem;
}
.categories__left .category .btn-primary:hover{
    color: var(--color-white);
    background: var(--color-primary);
}
.categories__right .category .btn-primary:hover{
    color: var(--color-white);
    background: var(--color-primary);
}



.categories__left .category p b{
    font-family: 'Roboto Condensed', sans-serif;
    color: var(--color-light2);
    
}
.categories__right .category p b{
    font-family: 'Roboto Condensed', sans-serif;
    color: var(--color-light2);
    
}

.category{ /*grabbing indivisual element having class category*/
    background-color: var(--color-white);
    padding: 2rem;
    border-radius: 0rem;
    transition: var(--transition);
    /* box-shadow: #000; */
    /* box-shadow: 2px 2px 3px rgb(184, 184, 184); */
    /* box-shadow: -2px -2px 3px rgb(184, 184, 184); */
    box-shadow: 0px 0px 9px rgb(184, 184, 184,184);
    min-width: 100%;
    /* height: 30rem; */
    height: auto;
    /* font-size: smaller; */
    /* height: ; */
    
}

.category:hover{
    box-shadow: 0 3rem 3rem rgba(193, 192, 192, 0.3); /*box-shadow(offset-x,offset-y,blur-radius,color)*/
    z-index: 1;
}

.category h5{
    margin: 2rem 0 1rem;
}
.categories__left h4{
    font-size: medium;
    color: var(--color-light2);
    font-weight: bold;
}
.categories__right h4{
    font-size: medium;
    color: var(--color-light2);
    font-weight: bold;
}
.categories__left .categoryleftbox1{
    margin-left: 1rem;
    margin-top: 1rem;
    font-weight: bold;
}
.categories__right .categoryleftbox1{
    margin-left: 1rem;
    margin-top: 1rem;
    font-weight: bold;
}

/* .categories__right #box3{
    padding-bottom: 0rem;
} */

.categories img{
    width: 15rem;
    margin-bottom: 6rem;
}
.categories .expimg{
    display: flex;
    align-items: center;
    justify-content: center;
}









/*---------------------------------Research/Publications------------------------------*/
.research{
    background: var(--color-white);
    height: 47rem;
    min-height: 100%;
    font-family: 'Karla', sans-serif;
    padding-bottom: 0;
    padding-top: 2rem;
}

.research h1{
    line-height: 1;
    margin-bottom: 3rem;
    text-align: center;
}

.research__container{
    display: grid;
    grid-template-columns: 1 1; /*divides the container in two halves where left half is 40% and right half id 60%*/
}

 
.research__left .research1 a{
    color: var(--color-primary);
    font-weight: bold;
}

.research__left .research1 .btn-primary{
    font-size: small;
    width: 70px;
    margin-top: 10px;
    margin-left: 1rem;
}
.research__left .research1 #manuscript{
    font-size: small;
    width: 9rem;
    margin-top: 10px;
    margin-left: 1rem;
    text-align: center;
}

.research__left .research1 .btn-primary:hover{
    color: var(--color-white);
    background: var(--color-primary);
}
.research__left .research1 #manuscript:hover{
    color: var(--color-white);
    background: var(--color-primary);
}
.research__left .research1 p b{
    font-family: 'Roboto Condensed', sans-serif;
    color: var(--color-light2);
}
.research__left .research1 p strong{
    font-family: 'Roboto Condensed', sans-serif;
    color: var(--color-black);
}


.research1{ /*grabbing indivisual element having class category*/
    background-color: var(--color-white);
    padding: 2rem;
    border-radius: 0rem;
    transition: var(--transition);
    /* box-shadow: #000; */
    /* box-shadow: 2px 2px 3px rgb(184, 184, 184); */
    box-shadow: 0px 0px 9px rgb(184, 184, 184,184);
}

.research1:hover{
    box-shadow: 0 3rem 3rem rgba(181, 180, 180, 0.3); /*box-shadow(offset-x,offset-y,blur-radius,color)*/
    z-index: 1;
}

.research1 h5{
    margin: 2rem 0 1rem;
}
.research__left h4{
    font-size: medium;
    color: var(--color-light2);
    font-weight: bold;
}
.research__left .researchleftbox1{
    margin-left: 1rem;
    margin-top: 1rem;
    font-weight: bold;
}

.research .researchleftbox1 ul{
    margin-left: 1rem;
}


.research img{
    width: 10rem;
    margin-bottom: 4rem;
}
.research .pubimg{
    display: flex;
    align-items: center;
    justify-content: center;
}



/*----------------------Projects --------------------------*/

.projects{
    background: var(--color-white);
    /* height: 60rem; */
    min-height: 100%;
    margin-bottom: 5rem;
    /* height: fit-content; */
    font-family: 'Karla', sans-serif;
}

.projects h1{
    line-height: 1;
    margin-bottom: 3rem;
    text-align: center;
}

.projects__container{
    display: grid;
    grid-template-columns: 50% 50%; /*divides the container in two halves where left half is 40% and right half id 60%*/
    gap: 3rem;
    /* min-width: 100%; */
   justify-content: center;
}


 
.projects__left .project a{
    color: var(--color-primary);
    font-weight: bold;
}
.projects__right .project a{
    color: var(--color-primary);
    font-weight: bold;
}
.projects__left .project .btn-primary{
    font-size: small;
    width: 70px;
    margin-top: 10px;
    margin-left: 1rem;
}
.projects__right .project .btn-primary{
    font-size: small;
    width: 70px;
    margin-top: 10px;
    margin-left: 1rem;
}
.projects__left .project .btn-primary:hover{
    color: var(--color-white);
    background: var(--color-primary);
}
.projects__right .project .btn-primary:hover{
    color: var(--color-white);
    background: var(--color-primary);
}

.projects__right{
    display: grid;
    grid-template-columns: repeat(1,1fr);   /*by this property 1 column will be created where each item has width of 1rem
    gap: 2.2rem;*/
}

.projects__left .project p b{
    font-family: 'Roboto Condensed', sans-serif;
    color: var(--color-light2);
    
}
.projects__right .project p b{
    font-family: 'Roboto Condensed', sans-serif;
    color: var(--color-light2);
    
}

.project{ /*grabbing indivisual element having class category*/
    background-color: var(--color-white);
    padding: 2rem;
    border-radius: 0rem;
    transition: var(--transition);
    /* box-shadow: #000; */
    box-shadow: 0px 0px 9px rgb(184, 184, 184,184);
    /* box-shadow: 0px 0px 10px rgb(104, 104, 104 ,104); */
    
}

.project:hover{
    box-shadow: 0 3rem 3rem rgba(193, 192, 192, 0.3); /*box-shadow(offset-x,offset-y,blur-radius,color)*/
    z-index: 1;
}

.project h5{
    margin: 2rem 0 1rem;
}
.projects__left h4{
    font-size: medium;
    color: var(--color-light2);
    font-weight: bold;
}
.projects__right h4{
    font-size: medium;
    color: var(--color-light2);
    font-weight: bold;
}
.projects__left .projectleftbox1{
    margin-left: 1rem;
    margin-top: 1rem;
    font-weight: bold;
}
.projects__right .projectleftbox1{
    margin-left: 1rem;
    margin-top: 1rem;
    font-weight: bold;
}

.projects__right #box3{
    padding-bottom: 0;
}



.projects ul{
    margin-left: 1rem;
}

.projects img{
    width: 15rem;
    margin-bottom: 6rem;
}
.projects .proimg{
    display: flex;
    align-items: center;
    justify-content: center;
}





/*------------------Achievements-----------------------*/

.achievement{
    background: var(--color-white);
    height: 54rem;
    min-height: 100%;
    /* height: fit-content; */
    font-family: 'Karla', sans-serif;
    padding-bottom: 0;
}
.achievement__container{
    display: grid;
    grid-template-columns: 1 1; /*divides the container in two halves where left half is 40% and right half id 60%*/
}

.achievement__left .achievement1 a{
    color: var(--color-primary);
    font-weight: bold;
}

.achievement__left .achievement1 li{
    font-family: 'Roboto Condensed', sans-serif;
    color: var(--color-black);
    margin-left: -1rem;
}


.achievement1{ /*grabbing indivisual element having class category*/
    background-color: var(--color-white);
    padding: 2rem;
    border-radius: 0rem;
    transition: var(--transition);
    /* box-shadow: #000; */
    /* box-shadow: 2px 2px 3px rgb(184, 184, 184); */
    box-shadow: 0px 0px 9px rgb(184, 184, 184,184);
}

.achievement1:hover{
    box-shadow: 0 3rem 3rem rgba(181, 180, 180, 0.3); /*box-shadow(offset-x,offset-y,blur-radius,color)*/
    z-index: 1;
}

.achievement__left .achievementleftbox1{
    margin-left: 1rem;
    margin-top: 1rem;
    font-weight: bold;
}

.achievement h4{
    font-size: medium;
    margin-top: 1rem;
    margin-left: 1rem;
}
.achievement a{
    margin-left: 1rem;
}
.achievement h2{
    margin-top: 2rem;
    font-size: xx-large;
}
.achievement img{
    width: 15rem;
    margin-bottom: 0rem;
}
.achievement .achimg{
    display: flex;
    align-items: center;
    justify-content: center;
}



/*-----------------------Courses------------------------*/

.course{
    background: var(--color-white);
    height: 40rem;
    min-height: 100%;
    font-family: 'Karla', sans-serif;
    padding-bottom: 0;
    /* margin-top: 1rem */
    
}
.course__container{
    display: grid;
    grid-template-columns: 1 1; /*divides the container in two halves where left half is 40% and right half id 60%*/
}

.course__left .achievement1 p strong{
    font-family: 'Roboto Condensed', sans-serif;
    color: var(--color-black);
}


.course1{ /*grabbing indivisual element having class category*/
    background-color: var(--color-white);
    padding: 2rem;
    border-radius: 0rem;
    transition: var(--transition);
    /* box-shadow: #000; */
    /* box-shadow: 2px 2px 3px rgb(184, 184, 184); */
    box-shadow: 0px 0px 9px rgb(184, 184, 184,184);
}

.course1:hover{
    box-shadow: 0 3rem 3rem rgba(181, 180, 180, 0.3); /*box-shadow(offset-x,offset-y,blur-radius,color)*/
    z-index: 1;
}

.course__left .courseleftbox1{
    margin-left: 1rem;
    margin-top: 1rem;
    font-weight: bold;
}

.course h4{
    font-size: medium;
    margin-top: 1rem;
    margin-left: 1rem;
}

.course ul{
    margin-left: 1rem;
}

.courseleftbox1 p b{
    font-family: 'Roboto Condensed', sans-serif;
    color: var(--color-light2);
}

.course img{
    width: 15rem;
    margin-bottom: 6rem;
}
.course .couimg{
    display: flex;
    align-items: center;
    justify-content: center;
}






/* -------------------------------------CONTACT--------------------------------------  */
footer{ /*grabbing element footer*/
    background: var(--color-white);
    padding-top: 5rem;
    font-family: 'Karla', sans-serif;
    height: 30rem;
    min-height: 100%;
    /* min-height: 100%; */
    /* min-width: 100%; */
}

.footer__container{
    display: grid;
    grid-template-columns: repeat(1,1); /*to make four columns*/
}

/* .footer__container > div h4{ it selects only that that element which are direct children of a parent 
    margin-bottom: 1.2rem;
} */

.footer__4{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 7rem;
}

.footer__copyright{
    text-align: center;
    margin-top: 3rem;
    padding: 1.2rem 0;
    color: var(--color-light2);
   
}

.footer h4{
    font-weight: lighter;
}
.footer__container .conimg{
    display: flex;
    /* width: 6rem; */
}

.footer__container img{
    display: block;
    width: 3rem;
    margin-left: 1rem;
    margin-top: -0.3rem;
}









/*-----------------------------------------------------------------*/



/* ---------------------FOR TABLETS----------------------- */





@media screen and (max-width:1024px){ /*any screen below 1024 px*/
    .container{ /*we have common container class in all of our sections*/
        width: var(--container-width-md); /*width to be 90 %*/
    }
    h1{
        font-size: 2.2rem;
    }

    h2{
        font-size: 1.7rem;
    }

    h3{
        font-size: 1.4rem;
    }

    h4{
        font-size: 1.2rem;
    }


    /*-----------------------NAVBAR---------------------------*/

    nav input{ /*for menu and close button*/
        display: inline-block;
        /* background: transparent; */
        font-size: 1.8rem;
        /* color: var(--color-white); */
        cursor: pointer;
    }

    nav input#close-menu-btn{
        display: none; /*initially we dont want to see the close button we only want to see the hamburger or the menu button so we do it as none*/
    }  

    nav input#open-menu-btn{
        color: #000;
    }

    .nav__menu{
        position: fixed;
        top: 4rem;
        right: 0%; /*container is 90% so margin on left is 5% and margin on right is also 5%*/
        height: fit-content; /*it adjusts the size*/
        width: 12rem;
        flex-direction: column; /*it is already flex in desktop version so here we can give it flex-direction so it will bring the content in column*/
        gap: 0;
        display: none; /*so initially we will not see the content but when we will click on the menu or the hamburger then we will see the content so for that we have to write javascript*/
        background-color: var(--color-white);
        
    }

    .nav__menu li{
        width: 100%;
        height: 3.2rem;
    }

    .nav__menu li a{
        background-color: var(--color-light);
        /* box-shadow: -4rem 6rem 10rem rgba(197, 188, 188, 0.6); */
        width: 100%;
        height: 100%;
        display: grid;
        place-items: center; /*so it will bring the elements inside anchor tag in the middle in x direction and in y direction*/
        border-color: var(--color-black);
    }

    .nav__menu li a:hover{
        background: var(--color-primary);
        color: var(--color-white);
        box-shadow: none;
        transform: translateY(-2px);
    }

    .nav__container .sociallinks{
        margin-right: 4rem;
        
    }


    /* -------------------------HEADER ---------------------------- */

    /* header{
        height: fit-content; */
        /* height: 90vh; */
        /* min-height: 50%; */
        /* margin-bottom: 2rem; */
        /* width: 100vw; */
        /* display: block;
    } */
    

    .header__container{
        grid-template-columns: 1fr;
        text-align: center;
        margin-top: 0rem;
        display: block;
        /* min-width: 100%; */
        /* width: auto; */
        
        
        
    }

    .header__left{
        display: none;
       
    }
    .header__right{
        /* margin-left: auto; */
        margin-left:auto;
        margin-right:auto;
        margin-right: 0;
        font-size:medium;
       
        /* margin-bottom: 10rem; */
        /* padding-bottom: 30rem; */
        /* width: auto; */      


       
    }
    .header__right img{
        width: 100px;
        justify-content: center;
    }


    .header__right .box0{
        margin-left: 2rem;
    }

    .header__right .boxes{
        justify-content: center;
    }
    




    /* --------------------------WORK EXPERIENCE--------------------------*/

    .categories{
        height:fit-content;
        font-family: 'Karla', sans-serif;
        /* margin-top: 3rem; */
        /* padding-top: 8rem; */
        /* padding-top: 0%; */
    }

    .categories__container{
        grid-template-columns: 1fr;
        gap: 3rem;
    }

    .categories__left{
        margin-right: 0;
    }

    .category{
        height: auto;
    }


    /* ---------------------------PUBLICATIONS------------------------ */

    .research{ /*for desktop we gave some margin not for tablet we set it to 0*/
        margin-top: 0;
        /* height: fit-content; */
        height: 53rem;
    }

    .research__container{
        grid-template-columns: 1fr;
    }

    
    

    /* --------------------------PROJECTS-----------------------*/
    .projects{
        /* height: fit-content; */
        height: 66rem;
    }
    .projects__container{
        grid-template-columns: 1fr;
        gap: 3rem;
    }
    
    
    /* .projects__container .projects__right{
        
    } */





    /* --------------------------ACHIEVEMENTS-----------------------*/

    .achievement{
        margin-top: 9rem;
    }




    /* --------------------------COURSES-----------------------*/
    
     




    /*---------------------------- CONTACTS-------------------------- */

   
    .footer__container{
        grid-template-columns: 1fr; /*in two eual halves*/
    }
}



/*------------------------------------------------------------------*/








/*-------------------------FOR MOBILE PHONE------------------------*/







@media screen and (max-width:600px){ /*for all the screens from 0 to 600px*/
    .container{ /*we have common container class in all of our sections*/
        width: var(--container-width-sm); /*for small devices*/
    }


    /*---------------------------NAVBAR----------------------------*/


    nav{
        height: 4rem;
    }
    .nav_menu{
        right: 3%; /*we do it because by default we have set --container-width-sm as 94% so it leaves us with 6% so we say from right 3% and it means we are left with 3% that becomes from left*/
        
    }
    .nav__container .sociallinks{
        position: absolute;
    }
    .nav__container .sociallinks img{
        width: 1.6rem;
    }
    .nav__container a h4{
        display: none;
    }


    /*---------------------------HEADER----------------------------*/

    header{
        /* height: fit-content; */
        height:auto;
        /* margin-bottom: 6rem; */
        top: 4rem;
        display: flex;
        /* width: 10rem; */
        height: auto;
        
    }

    .header__container{
        /* grid-template-columns: 1fr; */
        text-align: center;
        margin-top: 0rem;
        display: flex;
        flex-direction: column;
        /* min-width: 100%; */
        /* padding-top: 0; */
        /* height: auto; */
        height: auto;
        
    }

    .header__left{
        display: block;
        order: 2;
        margin-bottom: 2rem;
        margin-left: 0;
        /* height: 30rem; */
        /* min-height: 100%; */
        height: auto;
    }
    .header__right{
        margin-bottom: 2rem;
        font-size: smaller;
        order: 1;
        margin-left: 0;
        min-height: 35%;
        
        
        /* min-width: 100%; */
    }
    .header__left p{
        margin-bottom: 1.3rem;
        /* font-size: smaller; */
    }
    
    .header__right .boxes{
        margin-right: 7rem;
        /* display: none; */
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        justify-content: center;
        display: none;
    }
    .header__container img{
        margin-top: 4rem;
        height: auto;
    }

    

    .header__right .box2{
        padding-right: 1rem;
    }


    .header__right .box0{
        margin-left: 1rem;
    }

    /*---------------------------WORK EXPERIENCE--------------------------*/

    .categories__right{
        grid-template-columns: 1fr;
        gap: 0.7rem;
    }

    .category{
        padding: 1rem;
        border-radius: 1rem;

    }
    .categories{
        /* margin-top: 7rem; */
        margin-top: 6rem;
        padding-top: 0rem;
       
    }
    .categories img{
        display: none;
    }


    /*-------------------------PUBLICATIONS---------------------------*/
    

    .research {
        height: fit-content;
        margin-top: 1rem;
    }
    .research img{
        display: none;
    }
    
    /*---------------------------PROJECTS---------------------- */

    .projects{
        height: fit-content;
        padding-bottom: 0;
        margin-top: 4rem;
    }
    .projects img{
        display: none;
    }
    


    /*-------------------------- ACHIEVEMENTS ----------------------------*/

    .achievement{
        margin-top: 0rem;
        height: fit-content;
    }
    .achievement img{
        display: none;
    }


    /*-------------------------- COURSES ----------------------------*/
    .course{
        padding-top: 4rem;
        height: fit-content;
    }
    .course img{
        display: none;
    }


    /*-------------------------- CONTACT ----------------------------*/

    .footer__container{
        margin-left: -3rem;
        width: auto;
    }


}





/*-----------for mobile phones with very less screen width---------*/
@media screen and (max-width:305px){
    body{
        /* min-width: 100%;
        min-height: 100%; */
        /* margin-left: auto;
        margin-right: auto; */
        position: absolute;
    }
    nav{
        position: absolute;
        min-width: 100%;
    }

    .footer__4{
        position: absolute;
        margin-left: 4rem;
    }

    .footer__4 .conimg{
        justify-content: center;
    }

   

    nav{
        position: fixed;
    }
    
}






   





/* for surface pro 7 for courses and contact part not visible*/
@media screen and (min-width:900px) and (max-width:1000px) and (min-height:1300px) and (max-height:1400px){
    
    
    footer{
        height: 70rem;
    }
}


/*for width 400px to 600px*/
@media screen and (min-width:400px) and (max-width:600px) {
    
    .header__right{
        margin-bottom: 2.2rem;
    }
    
}





/*for more than 600px to 900px*/
@media screen and (min-width:600px) and (max-width:900px)  {
    
    .header__right .boxes{
        margin-left: -0.6rem;
    }
}
